apiVersion: v1
kind: Service
metadata:
  name: weaviate
  namespace: weaviate
  annotations:
    cloud.google.com/load-balancer-type: "Internal"
  labels:
    app: weaviate
spec:
  type: LoadBalancer          
  selector:
    app: weaviate
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP